<template>
  <div class="modal fade" id="cardModal" tabindex="-1" aria-labelledby="cardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="col-12">
            <i class="bi bi-x-lg btn-close-da-fe" style="font-size: 2rem; color: red;" data-bs-dismiss="modal" aria-label="Close"></i>
<!--            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
          </div>
          <div class="col-12">
            <img v-if="this.$parent.imgUrl" :src="this.$parent.imgUrl" alt="Card img" width="350" />
            <NotFound v-else></NotFound>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

import NotFound from "./NotFound.vue";
export default {
  name: 'CardImgPopup',
  components: {NotFound},
}
</script>
<style scoped>
.modal-content {
  background: transparent;
  border: 0;
  width: 350px;
}
.btn-close-da-fe {
  position: absolute;
  right: 0;
  top: 25px;
  z-index: 9;
}
.btn-close-da-fe:hover {
  cursor: pointer;
}
.notfound h1,
.notfound h2,
.notfound h3 {
  color: white;
}
</style>
