<template>
  <div class="row">
    <div class="col-12" v-if="loadingPage">
      <Loader></Loader>
    </div>
    <div class="col-12" v-if="!loadingPage">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li v-for="(tab, i) in Object.keys(tabs)">
          <button class="nav-link"
                  :class="{'active' : activeTab === i}"
                  @click="activeTab = i; tabData = []; tabSelect = null"
                  :key="'tab-' + i"
                  id="'tab-' + i"
                  data-bs-toggle="pill"
                  :data-bs-target="'#tab-' + i"
                  type="button"
                  role="tab"
                  :aria-controls="'tab-' + i"
                  aria-selected="true"
          >{{ tab.toUpperCase() }} ({{ tabs[tab].length }})</button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div v-for="(tab, i) in Object.keys(tabs)"
             class="tab-pane fade"
             :class="{ 'show active' : i === activeTab }"
             :id="'tab-'+i"
             role="tabpanel"
             :aria-labelledby="'tab-'+i"
        >
          <select class="form-select w-25"
                  aria-label="Default select example"
                  v-model="tabSelect"
          >
            <option :value="null" disabled>Select {{ tab }} to show</option>
            <option v-for="option in tabs[tab]"
                    :value="option"
            >{{ option }}</option>
          </select>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Card Name</th>
                  <th scope="col">Hero Type</th>
                  <th scope="col">Mana Cost</th>
                  <th scope="col">Attack</th>
                  <th scope="col">Life</th>
                  <th scope="col">Card Type</th>
                </tr>
              </thead>
              <tbody>
                <tr v-if="loadingTab">
                  <td colspan="6">
                    <Loader></Loader>
                  </td>
                </tr>
                <tr v-if="!loadingTab"
                    v-for="v in tabData"
                    class="pointer-event"
                    @click="imgUrl = v.img"
                    data-bs-toggle="modal"
                    data-bs-target="#cardModal"
                >
                  <td>
                    <span class="card-name-da-fe">{{ v.name }} <i v-if="v.img" class="bi bi-file-image"></i></span>
                  </td>
                  <td>{{ v.playerClass ?? '' }}</td>
                  <td>
                    <template v-if="v.cost">
                      <img src="../assets/mana-icon.png" alt="mana cost" width="35" />
                      <span class="icon-number">{{ v.cost }}</span>
                    </template>
                  </td>
                  <td>
                    <template v-if="v.attack">
                      <img src="../assets/attack-icon.png" alt="attack cost" width="35" />
                      <span class="icon-number">{{ v.attack }}</span>
                    </template>
                  </td>
                  <td>
                    <template v-if="v.health">
                      <img src="../assets/life-icon.png" alt="health cost" width="35" />
                      <span class="icon-number">{{ v.health }}</span>
                    </template>
                  </td>
                  <td>{{ v.type ?? '' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <CardImgPopup :imgUrl="imgUrl"></CardImgPopup>
  </div>
</template>

<script>
import Loader from "@/components/Loader.vue"
import CardImgPopup from "./CardImgPopup.vue";
export default {
  name: "List",
  components: { CardImgPopup, Loader },
  data() {
    return {
      loadingPage: true,
      loadingTab: false,
      tabs: [],
      activeTab: 0,
      tabData: [],
      tabSelect: null,
      imgUrl: null,
      skipTabs: ['patch', 'locales', 'standard'],
      availableTabs: ['classes', 'races', 'sets', 'qualities', 'factions', 'types']
    }
  },
  mounted() {
    this.getTabs()
  },
  methods: {
    getTabs() {
      let self = this;
      self.loadingPage = true
      self.tabData = []
      let options = {
        method: 'GET',
        url: 'https://omgvamp-hearthstone-v1.p.rapidapi.com/info',
        headers: {
          'x-rapidapi-host': import.meta.env.VITE_HOST,
          'x-rapidapi-key': import.meta.env.VITE_KEY
        }
      };

      axios.request(options).then(function (response) {
        let returnedKeys = Object.keys(response.data)
        let data = {}
        returnedKeys.map(t => {
          if (self.availableTabs.includes(t)) {
            data[t] = response.data[t]
          }
        })
        self.tabs = data
      }).catch(function (error) {
        console.error(error);
      }).finally(() => {
        self.loadingPage = false
      })
    },
    getTabsData() {
      let self = this;
      self.tabData = []
      self.loadingTab = true
      let tabs = Object.keys(self.tabs)
      let options = {
        method: 'GET',
        url: 'https://omgvamp-hearthstone-v1.p.rapidapi.com/cards/' + tabs[self.activeTab] + '/' + self.tabSelect,
        headers: {
          'x-rapidapi-host': import.meta.env.VITE_HOST,
          'x-rapidapi-key': import.meta.env.VITE_KEY
        }
      };

      axios.request(options).then(function (response) {
        self.tabData = response.data
      }).catch(function (error) {
        console.error(error);
      }).finally(() => {
        self.loadingTab = false
      })
    }
  },
  watch: {
    tabSelect: {
      handler(value) {
        if (value) {
          this.getTabsData()
        }
      }
    }
  }
}
</script>

<style scoped>
  table {
    min-height: 150px;
  }
  table tbody tr {
    border-bottom: black;
  }
  table tbody tr:hover {
    cursor: pointer;
    background: #bfbfbf;
  }
  .icon-number {
    position: absolute;
    left: 7px;
    color: white;
    top: 13px;
    font-size: 17px;
    width: 35px;
    text-align: center;
  }
  .card-name-da-fe {
    min-width: 300px;
    width: 100%;
    background: linear-gradient(90deg, rgba(43,44,62,1) 42%, rgba(0,0,0,1) 58%);
    padding: 3px 20px;
    display: inline-block;
    color: white;
  }
</style>
