<template>
  <div class="d-flex justify-content-center">
    <div class="spinner-grow text-primary m-5" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "Loader"
}
</script>

<style scoped>

</style>
