<template>
  <div class="container background-da-fe">
    <div class="col-12 background-da-fe">
      <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand font-color-da-fe" href="#">Digital Atrium</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <router-link class="nav-link font-color-da-fe" exact to="/">Home</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link font-color-da-fe" exact to="/list">List</router-link>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    </div>

    <div class="col-12 background-da-fe">
      <router-view />
    </div>
  </div>
</template>

<style scoped>
  .navbar-brand {
    width: 200px;
  }
</style>
